Repository KaisSalha/frontend-common: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache; typecheck, prettier --check

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": "eslint --cache; typecheck",
	"*.{ts,tsx,js,jsx,json}": "prettier --check"
}

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  c479d806e443529b22c932e53d64712316bfcbaf
Due: none

fix: fix import paath
  .husky/pre-commit
  .lintstagedrc
  src/queries/cms/categories/use-categories.ts
  src/queries/cms/categories/use-category.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  a17b0e31bc566d1861f7f7a3b88873d8944107aa
Due: none

fix: fix locale type to work with nextjs
  src/providers/CommonProvider.tsx
  src/providers/LocaleProvider.tsx
  src/queries/cms/categories/use-categories.ts
  src/queries/cms/categories/use-category.ts
  src/services/api/cms-api.ts
  src/types.ts
Due: eslint --cache; typecheck, prettier --check

fix: fix path to types
  src/providers/CommonProvider.tsx
  src/providers/LocaleProvider.tsx
  src/queries/cms/categories/use-categories.ts
  src/queries/cms/categories/use-category.ts
  src/services/api/cms-api.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  eb22ef098348105b2fe6dfbe023e3b34b9d0cff3
Due: none

fix: fix locale in ssr query key
  src/queries/cms/categories/use-categories.ts
  src/queries/cms/categories/use-category.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ccef2216b6a5dff82b2bf1696585107e967f8585
Due: none

fix: remove pagination from apis that dont need it
  src/services/api/cms-api.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  e1967fde8bde91406653871c190fe28c5b524d39
Due: none

feat: add types for hooks return
  package-lock.json
  package.json
  src/queries/cms/categories/types.ts
  src/services/api/cms-api.ts
  src/types.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  6897323c15e4640aabeb167be4c39409c82cda12
Due: none

fix: fix content type
  package-lock.json
  package.json
  src/types.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  c95aeaacca3b96bd9536c5b3d855099e9c7ca505
Due: none

fix: fix children type in Content
  src/types.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  e1054ed4fa251f2b701568630140d8f05e0642a7
Due: none

fix(cms-api): content return type should be an array
  src/services/api/cms-api.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  8a05343be379fea7e5e22922495ee15c2a7dd53a
Due: none

feat(profile-api): add profile api
  package.json
  src/providers/AuthProvider.tsx
  src/providers/CommonProvider.tsx
  src/services/api/cms-api.ts
  src/services/api/profile-api.ts
  src/services/api/utils/api-client.ts
  src/services/api/utils/api-common.ts
  src/services/api/utils/auth.ts
Due: eslint --cache; typecheck, prettier --check

fix: export profile api
  src/services/api/index.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  071770e94bc098ceca040d298c7d0c883d71d8d7
Due: none

fix: add missing useProfile hook
  src/queries/index.ts
  src/queries/profile/use-profile.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  64076b0352a83c6d41fe69af49828cbcc862a25f
Due: none

fix(use-profile): fix service import
  src/queries/profile/use-profile.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  b56be1265f8cb92023c5cfdeec329079e3285b0b
Due: none

fix: invalidate profile after mutation
  src/queries/profile/use-profile.ts
  src/queries/utils/query-ids.ts
Due: eslint --cache; typecheck, prettier --check

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  36ef5216d27f48830552f9d0079b15df8f656ae5
Due: none
