Repository KaisSalha/frontend-common: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": "eslint --cache",
	"*.{ts,tsx,js,jsx,json}": "prettier --check"
}

Notes added by 'git notes add'
  572e6dedd4e336b398975162271d15bd9f0d7539
Due: none

feat: fetch census data by geo id
  src/queries/census/use-get-census-by-geo-id.ts
  src/queries/index.ts
  src/queries/location/use-geos.ts
  src/queries/location/use-get-geo-by-parent-ids.ts
  src/queries/location/use-get-geo-by-points.ts
  src/queries/location/utils/get-padded-bounds.test.ts
  src/queries/location/utils/get-padded-bounds.ts
  src/queries/utils/query-ids.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ddf0cf845b7862b153f24586c77d0088e3e39726
Due: none

feat: fetch census in 1 call
  src/queries/census/use-census-by-geo-ids.ts
  src/queries/census/use-get-census-by-geo-id.ts
  src/queries/index.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  393c41174c54a5e3293f7875bb773790b667f745
Due: none

fix: chunk census data
  src/queries/census/use-census-by-geo-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  420e3e50c183e5d52b568c04524d838aef071dcd
Due: none

fix: merge census data into 1
  src/queries/census/use-census-by-geo-ids.ts
Due: eslint --cache, prettier --check

Revert "fix: merge census data into 1"
  src/queries/census/use-census-by-geo-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.12.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  c328b26e5dab3e6c0b90ce7643d8c9c0f9b655bb
Due: none

feat: remove legacy hook + add number utils
  src/index.ts
  src/queries/census/use-census-by-geo-ids.ts
  src/queries/index.ts
  src/utils/index.ts
  src/utils/numbers/formatters.ts
  src/utils/numbers/index.ts
  src/utils/numbers/shortNumberFormatter.ts
Due: eslint --cache, prettier --check

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  92cbd6247734dab3d680f95a7bcef7823e44a099
Due: none

feat: update deps
  package-lock.json
  package.json
Due: prettier --check

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  1080831dd3532614e88f655659a923f7980fd923
Due: none
