Repository KaisSalha/frontend-common: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

fix: remove undefined
  src/queries/location/use-get-geo-by-parent-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  23bf3f2fca3319cdb43577f76472437d5b233058
Due: none

fix(use-geos): allow disabling queries
  src/queries/location/use-geos.ts
  src/queries/location/use-get-geo-by-parent-ids.ts
  src/queries/location/use-get-geo-by-points.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  36c889f457175404d9d65e3ad4c17a15f18e435c
Due: none

fix: don't load children when loading parent
  src/queries/location/use-geos.ts
  src/queries/location/use-get-geo-by-parent-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  d514198ca2529e89191c4ab4e0d455baadb7821c
Due: none

fix: disable division fetching while moving
  src/queries/location/use-geos.ts
  src/queries/location/utils/get-padded-bounds.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  5eca8df12e733681ad91cda29fa01ccf571aff2d
Due: none

fix: dont fetch unnecessary tiles
  src/queries/location/use-geos.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ff5e08198b93f09541566b7362dbf21b1c18172d
Due: none

fix: stop overfetching
  src/queries/location/use-geos.ts
  src/queries/location/use-get-geo-by-parent-ids.ts
  src/queries/location/use-get-geo-by-points.ts
  src/queries/location/utils/get-padded-bounds.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  46ae6d7df5ad134911316acb455eefdad7ae7cd9
Due: none

fix(use-geos): zoom level for tract
  src/queries/location/use-geos.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  465d5d826354ac10858c841d9052b89350c41587
Due: none

fix: cancel old by points queries
  src/queries/location/use-get-geo-by-points.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  899009ce2ba942ac9b4eda8af40f139f13c5f17d
Due: none

feat: add parent support to get geo by points
  src/queries/location/use-get-geo-by-points.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

fix(use-get-geo-by-points): fix query key
  src/queries/location/use-get-geo-by-points.ts
Due: eslint --cache, prettier --check

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  3d1034d814b8fbe4559f9f01646c54aea562736b
Due: none

feat: new hook to optimize fetching tract and subdivision
  src/queries/index.ts
  src/queries/location/use-geos-parent-ids.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  a3bb21b92f9fc596976945467ba6cd6331e65f14
Due: none

fix: zoom bug
  src/queries/location/use-geos-parent-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  cf34c321c483abb135153915ca47cb9fd0f50628
Due: none

fix: dont load tracts for old divisionresponse
  src/queries/location/use-geos.ts
  src/queries/location/use-get-geo-by-points.ts
Due: eslint --cache, prettier --check

fix: remove old query
  src/queries/index.ts
  src/queries/location/use-geos-parent-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  f4c0ddf139788e9e9a7513c8fd25a79561453eff
Due: none

fix: dont fetch subdivision and tract while fetching division
  src/queries/location/use-geos.ts
Due: eslint --cache, prettier --check

chore(release): 1.10.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Path conditions:
  eslint --cache: any of: *.{ts,tsx,js,jsx}
  prettier --check: any of: *.{ts,tsx,js,jsx,json}
