Repository KaisSalha/frontend-common: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check

fix(profile-api): fix create profile params type
  src/services/api/profile-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.4.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  2f183199ae9b70d9c8441836a49b70bcfe205924
Due: none

fix(use-profile): import path for import
  src/queries/profile/use-profile.ts
Due: eslint --cache, prettier --check

chore(release): 1.4.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  0b5ff618475fc965b4eb7de0e7f2ce7bfe0c8784
Due: none

feat: add the location api and the useAreas hook
  src/queries/location/useAreas.ts
  src/queries/profile/use-profile.ts
  src/services/api/index.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  c64a017477129d129d708bf61bff920612239294
Due: none

fix: fix missing useAreas export
  src/queries/index.ts
  src/queries/location/use-areas.ts
Due: eslint --cache, prettier --check

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  a8b8caeacf3b311fc92ef543ce2c7b383d27f060
Due: none

fix: fix areas api and query key
  src/queries/location/use-areas.ts
  src/queries/utils/query-ids.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

fix(location-api): fix path
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  790c575031000191af7d0424757d089a635657d8
Due: none

fix: change endpoint from get to post
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.5.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  58ced5087d91faaa47dc953e865ccc6d6e8b2853
Due: none

fix(location-api): the type
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.5.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  7bd0da00861168efd404dd44652d547529aaea66
Due: none

feat: use new location api endpoints
  .eslintrc.js
  package-lock.json
  package.json
  src/queries/index.ts
  src/queries/location/use-areas.ts
  src/queries/location/use-get-geo-by-parent-id.ts
  src/queries/location/use-get-geo-by-points.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  d0aa1d07e7ada4b8af8a07ce60b23f6cea5d49b5
Due: none

fix: change query key on input change
  src/queries/location/use-get-geo-by-parent-id.ts
  src/queries/location/use-get-geo-by-points.ts
  src/queries/utils/query-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  1697133ddd0955ace02fcfcca5b05bf3209ae141
Due: none

feat: add padding to bounds + keepPreviousData
  src/queries/location/use-get-geo-by-parent-id.ts
  src/queries/location/use-get-geo-by-points.ts
  src/queries/location/utils/get-padded-bounds.test.ts
  src/queries/location/utils/get-padded-bounds.ts
Due: eslint --cache, prettier --check

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  fc5eb0a726903c1a3adce1c05f03525eebcd035a
Due: none

feat: create useGeos hook to fetch everything in 1 hook
  src/queries/index.ts
  src/queries/location/use-geos.ts
  src/queries/location/use-get-geo-by-parent-id.ts
  src/queries/location/use-get-geo-by-parent-ids.ts
  src/services/api/location-api.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  87e732a35cf2e5c38c7d75ebcd2d47d07cccbf7f
Due: none

fix: use-get-geo-by-parent-ids response should be similar to other hooks
  src/queries/location/use-get-geo-by-parent-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  c59b1e47a97e58032a3d63e08fab4dae5bb7bc1e
Due: none

fix: flatten the polygons array
  src/queries/location/use-get-geo-by-parent-ids.ts
Due: eslint --cache, prettier --check

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  1d9a9c05a27c2948c8d726d43345813552fde175
Due: none

Path conditions:
  eslint --cache: any of: *.{ts,tsx,js,jsx}
  prettier --check: any of: *.{ts,tsx,js,jsx,json}
